body {
    width: 100%;
    bottom: 0;
    font-family: 'Merriweather', serif;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
}

h1 {
    color: white;
    margin: 0;
    padding: 20px 200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
